.cart {
	display: flex;
	flex-direction: column;
	width: 500px;
	min-height: 100%;
	padding: 8px;
	gap: 16px;
}

.cartWrapper {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.cartItem {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: space-between;
}

.cartItemIcon {
	width: 30%;
}

.cartItemQuantity {
	width: 100%;
}

.deleteIcon {
	width: 70px;
	padding: 0;
}

.cartDesc {
	font-family: inherit;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 50px;
}

.cartDesc input {
	font-family: inherit;
	text-align: center;
}

.cartDesc button {
	font-family: inherit;
	text-align: center;
}
.text {
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.cart {
		width: 400px;
		font-size: 12px;
	}
	.cartWrapper {
		padding: 0 8%;
	}
	.cartDesc input {
		font-size: 12px;
	}
	.cartDesc button {
		font-size: 12px;
	}
	.deleteIcon {
		width: 50px;
	}
}
