.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.errorIcon {
	width: 200px;
	transition: all;
}

.errorLink:hover {
	color: grey;
	transition: 1s ease-in-out;
}
