.cardsContainer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	gap: 10px;
	font-family: var(--font);
}

@media only screen and (max-width: 768px) {
	.cardsContainer {
		grid-template-columns: repeat(2, minmax(200px, 1fr));
	}
}

@media only screen and (max-width: 600px) {
	.cardsContainer {
		justify-content: center;
		grid-template-columns: repeat(1, minmax(100px, 300px));
	}
}
