.wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.card div {
	width: 300px;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 16px;
}

.cardsContainer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, minmax(300px, 1fr));
	gap: 24px;
	padding: 24px;
}

.cart {
	display: flex;
	flex-direction: column;
	width: 300px;
	min-height: 100%;
	padding: 8px;
	gap: 16px;
}
